/* Import Inter font to fallback gracefully */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

@layer components {
  .nav {
    @apply flex flex-col px-4 py-2 mt-4 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-transparent dark:border-slate-700;
  }

  .nav-item {
    @apply block py-2 pr-4 pl-3 text-slate-700 rounded hover:bg-slate-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-slate-400 md:dark:hover:text-white dark:hover:bg-slate-700 dark:hover:text-white md:dark:hover:bg-transparent;
  }
  .nav-item.active {
    @apply text-white;
  }

  .section-wrapper {
    @apply w-full h-full overflow-y-scroll;
    scroll-behavior: smooth;
  }

  /* Custom Scrollbar */
  .section-wrapper::-webkit-scrollbar {
    width: 8px;
  }

  .section-wrapper::-webkit-scrollbar-track {
    background: #0f172a;
  }

  .section-wrapper::-webkit-scrollbar-thumb {
    background: #424c63;
    border-radius: 4px;
  }

  .section-wrapper::-webkit-scrollbar-thumb:hover {
    background: #7CFAD6;
  }

  /* Firefox */
  .section-wrapper {
    scrollbar-width: thin;
    scrollbar-color: #424c63 #0f172a;
  }
}
